<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
 
</head>
<body>
  <h1>Lasya Bandi</h1>
  
  <h1>CAREER OBJECTIVE</h1>
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12">
        <p>To gain mastery on web development, and augment my skills in the fields of web
          development and database design. I’m also passionate about data science and its areas
          like natural language processing (NLP) and machine learning.</p>
      </div>
    </div>
  </div>
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12">
        <h2>EDUCATION: </h2>
         
              <p>2014<br>
                SSC board(10th), Narayana Concept School<br>
                GPA: 9.2<br>
                2016<br>
                Intermidiate board(XII), Sri Chaitanya Junior College<br>
                Percentage: 90%<br>
                2017 - ongoing<br>
                M.Sc. computer science, Niit University<br>
                Current CGPA: 6.67</p>
            
      </div>
    </div>
  </div>
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12">
        <h2>PROJECTS: </h2>
        
              <p>JANUARY 2019 – APRIL 2019<br>
                DATA BASE MANAGEMENT SYSTEM<br>
                Library Management System:<br>
               
                • Designed Library management system (LMS) mainly focuses on supervising
                and managing the organization at Library.<br>
                • Consolidated use cases, including basic operations in a library like ensuring
                for the availability of a book, adding new book in library and searching book
                in the library and deleting the book, managing accounts of students and
                library admins.<br>
                • Designed the LMS using ER diagram covering all use cases.<br>
                • Implemented the database design in Microsoft SQL.<br>
                • SQL statements were written for the operations covering all scenarios.</p>
      
           
      </div>
    </div>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-xs-12">
      <p>AUGUST 2019 – NOVEMBER 2019<br>
      SOFTWARE ENGINEERING<br>
      Designing Lecture recording system:<br>
      • Designed Software Requirements Specification document.<br>
      • Designed Entity Relationship diagram as part of database design.<br>
      • Designed Unified Modelling Language diagrams like use case diagrams,
      sequence diagrams and class diagrams were designed explaining all
      scenarios.</p>

    </div>
  </div>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-xs-12">
      
            <h2>SKILLS</h2>
            <p>LANGUAGES: <br>
            • Java<br>
            • Python<br>
            • R programming<br>
            • C language<br>
            • JavaScript<br>
            • HTML, CSS, Bootstrap<br>
            • SQL</p>
            <p>DATABASES:<br>
            • SQL<br>
            • Oracle DB, MySQL DB</p>
         

    </div>
  </div>
</div>

 
   
  
</body>
</html>